<div class="login-wrapper">
    <form class="login" #loginForm = "ngForm" (ngSubmit)="onSubmit()">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            <b>IStore</b>Selling/Buying Site
            <h5 class="hint">Sign in Or Create an account</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="u.email"/>
                          </clr-input-container>
            <clr-password-container>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="u.password"/>
            </clr-password-container>
            <div class="error active">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary">NEXT</button>
            <a href="javascript://" class="signup">Sign up</a>
        </div>
    </form>
  </div>